@media (min-width: 550px) {
  .container {
    padding: 5%;
    background-image: url(images/back1.jpg);
   }
   .container_in {
    display: flex;
    background-color: white;
    border-style: solid;
    border-color: #3e3e3f;
    border-radius: 25px;
    border-width: 1px;
   }


   .container_item {
    flex: 1;
    padding: 12px;
  }
  header a#logo {
    font-family: 'Obelix';
    font-weight: bold;
    font-size: 2.5em;
    color: white;
    float: left;
    width: 25%;
    margin-left: 15%;
  }
  header span.contact {
    float: right;
    width: 40%;
    margin-right: 20%;
    font-family: Times New Roman, sans-serif
  }
  header span.contact a {
    color: white;
    float: right;
    margin-left: 10%;
    font-size: 1.4em;
    line-height: 30px;
  }

  
  nav a:first-child {
    margin-left: 12%; 
    border-top: 5px solid #6accd7;
  }
  
  nav a {
    border-top: 5px solid rgba(255,255,255,0);
    padding: 0.5% 1% 0 1%;
    float: left;
    margin-right: 4%;
    font-family: Times New Roman, sans-serif;
    font-size: 1.4em;
    color: #686869;
  }
  
  nav a:hover {
    border-top: 5px solid #6accd7;
    color: #8c8c8c;
  }
  div.foot p {
    text-align: center;
    font-size: 1em;
    color: white;
  }
}

@media (max-width: 549px) {
  .container {
    background-image: url(images/back1.jpg);
   }
   .container_in {
    display: flex;
    background-color: white;
   }
   .container_item {
    flex: 1;
    padding: 1%;
  }
  header a#logo {
    font-family: 'Obelix';
    font-weight: bold;
    font-size: 3em;
    color: white;
    float: left;
    width: 25%;
    margin-left: 5%;
  }
  header span.contact {
    float: right;
    width: 80%;
    margin-right: 5%;
    font-family: Times New Roman, sans-serif
  }
  header span.contact a {
    color: white;
    float: right;
    margin-left: 10%;
    font-size: 1.4em;
    line-height: 30px;
  }

  nav a {
    width: 80%;
    float: left;
    font-family: Times New Roman, sans-serif;
    font-size: 2em;
    color: #686869;
    margin-left: 10%
  }
  div.foot p {
    text-align: center;
    font-size: 1em;
    color: white;
  }
}

nav {
  width: 98%;
  float: left;
  background-color: #ffffff;
  padding: 0 1% 0.7% 1%;
}

header {
	width: 100%;
	float: left;
	background-color: #3e3e3f;
}

body {
  width: 100%;
  height: 100%;
       margin: 0;
       padding: 0;
       background-color: white;
   }

   h1 {
     text-align: center;
   }

   p {
     color: rgb(105, 103, 103);
     font-family: Georgia;
     text-align: justify;
   }

   div.container_in p {
    width: 100%;
    text-align: center;
  }

div.container_in div.container_item img.mySlides {
  width: 100%;
}

div.container_item img {
  width: 75%;
}

  footer {
    width: 100%;
    float: left;
    background-color: #3e3e3f;
  }

 
/* Кнопка "вверх" */
  div.scrollup {
    position: fixed; /* фиксированная позиция */
    color: #fff; /* цвет текста */
    background-color: #286090; /* цвет заднего фона */
    right: 20px; /* расстояние от правого края */
    bottom: 0px; /* расстояние от нижнего края */
    padding: 4px 10px; /* отступы до содержимого блока */
    font-size: 20px; /* размер шрифта (иконки) */
    border-top-left-radius: 4px; /* скругление верхнего левого угла */
    border-top-right-radius: 4px; /* скругление верхнего правого угла */
    cursor: pointer; /* форма курсора */
    display: none; /* не отображать элемент */
    text-align: center; /*выравнивание содержимого элемента по центру */
  }
  div.scrollup:hover {
    background-color: #000; /* цвет заднего фона при наведении */
  }
/* Кнопка "вверх" */